<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3>E-Mage Gallery</h3>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail" >
				<img src="<%= img.image %>" style="width: 100%;">
				<div class="pull">
					
					<div>
						<h2><%= img.name %></h2>
					</div>
					<p>
						<h4>
						<em>Submmited By <strong><%= img.author.username %></strong></em></h4>
					</p>
					<p>
						<form action="/allimage/<%= img._id %>" method="POST" > <input type="submit" name="Like" value="Like" style="display: inline-block; float: left;"> <h2>  <%= img.likes %> </h2>
      					</form>
					</p>
					
				<p>
					
				</div><hr>
					
					<h4><%= img.description %></h4>
				</p>
				
			</div>
			<div class="well">
				<div class="panel panel-default">
				  <div class="panel-heading">Comments</div>
				  <% img.comments.forEach(function(comment){ %>
				  <div class="panel-body">	<p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>	</div>
				  
				  <% }) %>
				</div>
				<div class="panel-footer">
					<a href="/allimage/<%= img._id %>/comments/new" class="btn btn-success " >Add Comment</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

<% include partials/footer %>